form(accept-charset='UTF-8', method='post', action='/logout')
  input(name='authenticity_token', type='hidden', value='')
  input(name='_method', type='hidden', value='delete')
  | Signed in as: #{email} 
  button(type='submit', class='logout-btn') Sign out

.js-page-region